apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ai-music-composer
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ai-music-composer-service
                port:
                  number: 80
